<section id="about">
  <% if (config.heading) { %>
    <%- markdown(config.heading) %>
  <% } %>
</section>

<section id="writeups">
  <span class="h1"><i class="fa-solid fa-flag"></i> writeups</span>
  <div class="card-grid-2">
  <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
  <% if (theme.posts_overview.show_all_posts) { %>
    <% var show_posts = page.posts.sort(field_sort, 'desc') %>
  <% } else { %>
    <% var show_posts = site.posts.sort(field_sort, 'desc').limit(theme.posts_overview.post_count || 5) %>
  <% } %>
  <% show_posts.each(function(post, i) { %>
    <% post.categories.forEach(function(item) { %>
      <% if(item.name == 'ctfs') { %>
        <% var [ctfName, articleTitle] = post.title.split(": ") %>
        <a href="<%- post.path %>" style="all: unset; cursor: pointer;">
          <div class="card index-card no-highlight">
            <img src="<%- post.thumbnail %>" alt="<%- post.title %>" />
            <div class="contents-index" style="position: relative;">
              <div>
                &lt;<code><%- post.category_column %></code>&gt;
                <span><b><%- `${ctfName}` %></b>:</span>
                <p class="title-index"><%- articleTitle %></p>
                <p class="description-index"><%- post.short_description %></p>
              </div>
              <%- partial('_partial/post/date', { post: post, class_name: 'date' }) %>
              <span style="position: absolute; bottom: 0; right: 0; margin: 1rem;" class="read-more">
                Read More ->
              </span>
            </div>
          </div>
        </a>
      <% } %>
    <% }); %>
  <% }); %>
  </div>
<a class="view-all" href="/categories/ctfs/">View all writeups -></a>
</section>

<section id="articles">
  <span class="h1"><i class="fa-solid fa-newspaper"></i> articles</span>
  <div class="card-grid-2">
    <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
    <% if (theme.posts_overview.show_all_posts) { %>
      <% var show_posts = page.posts.sort(field_sort, 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort(field_sort, 'desc').limit(theme.posts_overview.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i) { %>
      <% post.categories.forEach(function(item) { %>
        <% if(item.name == "blog") { %>
          <a href="<%- post.path %>" style="all: unset; cursor: pointer;">
            <div class="card index-card no-highlight">
              <img src="<%- post.thumbnail %>" alt="<%- post.title %>" />
              <div class="contents-index" style="position: relative;">
                <div>
                  <p class="title-index"><%- post.title %></p>
                  <p class="description-index"><%- post.short_description %></p>
                </div>
                <%- partial('_partial/post/date', { post: post, class_name: 'date' }) %>
                <span style="position: absolute; bottom: 0; right: 0; margin: 1rem;" class="read-more">
                  Read More ->
                </span>
              </div>
            </div>
          </a>
        <% } %>
      <% }); %>
    <% }); %>
  </div>
  <!-- <a class="view-all" href="/categories/blog/">View all articles -></a> -->
</section>