<% if(post.category_column) { %>
    <div class="category-column"><%= post.category_column %></div>
    <span><a href="<%- url_for(post.path) %>"><%= post.title %></a></span>
<% } else { %>
    <span><a href="<%- url_for(post.path) %>"><%= post.title %></a></span>
<% } %>